.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.moviegroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  margin: 0px auto;
  position: relative;
  z-index: 0;
}

.moviegroup > div {
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 0;
  border: 3px solid transparent;
  height: 500px;
  overflow: hidden;
}
.moviegroup > div:hover {
  transform: scale(1.1);
  z-index: 1;
}

.movieimage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.movietitle {
  padding: 25px;
  height: 40px;
  margin-top: 10px;
  transform: translateZ(0);
}

.movierating {
  font-size: 20px;
  font-weight: bold;
}

.button {
  margin: 20px 20px;
  background: none;
  color: inherit;
  border: none;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.button:hover {
  background-color: white;
  color: black;
  border-radius: 10%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links button {
  margin: 10px 40px;
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.links button:hover{
  border: 2px solid black;
}

.links button a {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
